<div class="col-md-8 mb-30">
    <h3 class="mb-30">Leave a Reply</h3>
    <form action="{% url 'detail_post' news.id %}" method="post" class="row">
        {% csrf_token %}

        <div class="col-md-6">
            <input type="text" name="name" id="name" value="{{form.full_name}}" placeholder="Full Name *" required="">
        </div>
        <div class="col-md-6">
            <input type="email" name="email" id="email" value="{{form.email}}" placeholder="Email Address *" required="">
        </div>
        <div class="col-md-12">
            <textarea name="message"  value="{{form.text}}" id="message" cols="40"  rows="4" placeholder="Your Comment *" required=""></textarea>
        </div>
        <div class="col-md-12">
            <button type='submit' class="butn-dark mt-15"><a href="#0"><span>Send Comment</span></a></button>
        </div>
    </form>
</div>

