<section class="services section-padding2">
    <div class="container">
        {% for i in clubs %}
        <div class="row">
            <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                <div class="img left">
                    <a href="#"><img src="{{i.photo.url}}" alt=""></a>
                </div>
            </div>
            <div class="col-md-6 p-0 bg-cream valign animate-box" data-animate-effect="fadeInRight">
                <div class="content">
                    <div class="cont text-left">
                        <div class="info">
                            <h6>Discover</h6>
                        </div>
                        <h4>{{i.title}}</h4>
                        <p>{{i.description|truncatewords:10|safe}}</p>
                        <p><span class="flaticon-clock"></span> Daily: {{i.from_time}} to {{i.to_time}} pm </p>
                        <div class="butn-dark"> <a href="{% url 'clubs_details' i.id %}"><span>Learn More</span></a> </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}

    </div>
</section>