
{% extends 'base.html' %}
{% block main %}

<div id="cappa-main">

    <div class="banner-header section-padding bg-position-bottom valign bg-img bg-fixed" data-overlay-dark="4" data-background="{{about.photo.url}}">
        <div class="container">
        <div class="row">
            <div class="col-md-12 caption mt-90">
                <h5>Luxury Hotel</h5>
                <h1>Booked rooms</h1>               
            </div>
        </div>
    </div>
</div>


<section class="facilties section-padding">

<div class="row">
    {% for i in books %}
    <div class="col-md-4">
        <div class="single-facility animate-box" data-animate-effect="fadeInUp"> <span ><img style="width: 90px;" src="{{i.room.photo.url}}" alt=""></span>
            <h5>{{i.full_name}}</h5> <p>check in: {{i.check_in}} </p>
            <p>check out: {{i.check_out}}</p>
            <p>email: {{i.email}} </p>
            <p>№{{i.room.room_number}}</p>
            <a href="{% url 'delete_booking' i.id %}"><p style="color:red">Delete</p></a>
            <div class="facility-shape"> <span class="flaticon-world"></span> </div>
        </div>
    </div>
    {% endfor %}
</div>
</section>
{% endblock %}