{% extends 'base.html' %}
{% block main %}

<div id="cappa-main">

    <div class="banner-header section-padding bg-position-bottom valign bg-img bg-fixed" data-overlay-dark="4" data-background="{{about.photo.url}}">
        <div class="container">
        <div class="row">
            <div class="col-md-12 caption mt-90">
                <h5>Luxury Hotel</h5>
                <h1>Rooms Settings</h1>               
            </div>
        </div>
    </div>
</div>


<section class="rooms1 section-padding bg-cream" data-scroll-index="1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">The Cappa Luxury Hotel</div>
                <div class="section-title">Rooms & Suites</div>
            </div>
        </div>
        <div class="row">
            {% for r in all_rooms %}
            <div class="col-md-6">
                <div class="item" style="height: 355px ;">
                    <div class="position-re o-hidden"> <img style="height: 300;" src="{{r.photo.url}}"  alt=""> </div> <span class="category"><a href="{% url 'reservation' r.id  %}">Book</a></span>
                    <div class="con">
                        <h6><a href="{% url 'room_update' r.id%}">{{r.price}}som / Night</a></h6>
                        <h5><a href="{% url 'room_update' r.id%}">{{r.room}}</a></h5>
                        <div class="line"></div>
                        <div class="row facilities">
                            <div class="col col-md-7">
                                <ul>
                                    <li><i class="flaticon-bed"></i></li>
                                    <li><i class="flaticon-bath"></i></li>
                                    <li><i class="flaticon-breakfast"></i></li>
                                    <li><i class="flaticon-towel"></i></li>
                                </ul>
                            </div>
                            <div class="col col-md-5 text-right">
                                <div class="permalink"><a href="{% url 'room_update' r.id%}">Update <i class="ti-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor%}

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
    
            <!-- Pagination -->
            <ul class="news-pagination-wrap align-center mb-30 mt-30">
                {% if all_rooms.has_previous %}
                <li><a href="?page={{ all_rooms.previous_page_number }}"><i class="ti-angle-left"></i></a></li>
                {% endif%}
                {% for p in all_rooms.paginator.page_range%}
                 <li><a href="?page={{p}}">{{p}}</a></li>
      
                {% endfor %}
                {% if all_rooms.has_next %}
                <li><a href="?page={{ all_rooms.next_page_number }}"><i class="ti-angle-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>

</section>

{% endblock %}